<div class="row" >
    <div class="col-xxl-3">
      <div
        
        container="body"
        tabindex="-1"
        id="Contactoffcanvas"
        aria-labelledby="ContactoffcanvasLabel"
      >
      @if(contacts.length > 0){
        <app-contacts [contacts]="contacts" (contactSelected)="onContactSelected($event)" />
      } @else {
        <p class="p-3 text-muted">Loading contacts...</p>
      }
      </div>
    </div>
  
    <div class="col-xxl-9 ">
      @if (selectedContact) {
      <app-discussion [contact]="selectedContact"/>
      }
    </div>
  </div>
  